
.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
#login-body {
    height: calc(100vh - 73px);
    background: url('../imgs/register_bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
form {
    opacity: 0.8;
}
@media screen and (max-width: 767px) {
    #login-body {
        height: calc(100vh - 108px);
    }
}